<?xml version="1.0"?>
<!--
/**
 * Copyright © Elgentos B.V.. All rights reserved.
 * https://www.elgentos.nl/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <store_switcher>
            <general>
                <enabled>0</enabled>
                <scope_to_current_store>0</scope_to_current_store>
                <render_type>code</render_type>
            </general>
        </store_switcher>
    </default>
</config>
