<?xml version="1.0"?>
<!--
/**
 * Copyright © Elgentos B.V.. All rights reserved.
 * https://www.elgentos.nl/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="elgentos" translate="label" sortOrder="100">
            <label>Elgentos</label>
        </tab>
        <section id="store_switcher" translate="label" sortOrder="10" showInDefault="1" showInStore="1" showInWebsite="1">
            <resource>Elgentos_StoreSwitcher::config</resource>
            <class>separator-top</class>
            <label>Store Switcher</label>
            <tab>elgentos</tab>
            <group id="general" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" showInDefault="1" showInWebsite="0" showInStore="0" translate="label" type="select">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="scope_to_current_store" showInDefault="1" showInWebsite="0" showInStore="0" translate="label" type="select">
                    <label>Scope to current store</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Shows only store views from the current store instead of all websites.</comment>
                </field>
                <field id="render_type" showInDefault="1" showInWebsite="0" showInStore="0" translate="label,comment" type="select">
                    <label>Render type</label>
                    <source_model>Elgentos\StoreSwitcher\Model\Config\Source\RenderTypes</source_model>
                    <comment>How your store switcher will look like</comment>
                </field>
                <field id="icon_name" showInDefault="0" showInWebsite="1" showInStore="1" translate="label,comment" type="text">
                    <label>SVG icon name</label>
                    <comment><![CDATA[<p>SVG icon name is only used if the render type is Icon. The name of the icon must be available in the SvgIcon ViewModel of Hyva. <a href="https://docs.hyva.io/hyva-themes/writing-code/working-with-view-models/svgicons.html#overriding-heroicons-in-your-theme#using-a-custom-svg-icon-set-in-your-theme">Click here for more info</a></p>]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
